.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;

  &-title {
    width: auto;
    padding: 20px;
    height: auto;
    color: white;
    font-size: 30px;
    background-color: var(--color-dark-brown);
    text-align: center;
    text-transform: uppercase;
  }

  &-info {
    width: auto;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding: 20px;
    text-align: left;
  }
}

.btn-action {
  height: auto;
  font-family: "Courier New", Courier, monospace;
  padding: 20px 30px;
  border: none;
  background-color: var(--color-dark-blue);
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  align-self: baseline;
}
